<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>price</title>
</head>
<body>
    <div class="mb-3">
        <label class="form-label">Ticket Price (₹)</label>
        <input type="number" class="form-control" name="price" min="0" placeholder="e.g. 100"
            value="<%= typeof event !== 'undefined' && event.price ? event.price : '' %>" />
    </div>
      
</body>
</html> -->